@model AllContractViewModel
@{
}
<style>
    .page-item .page-link {
        display: inline-flex;
        height: 42px !important;
        justify-content: center;
        align-items: center;
    }

    .select2-container .select2-selection--single {
        height: 38px !important;
    }

    .select2-selection--single .select2-selection__rendered {
        line-height: 38px !important;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 5px !important;
    }
</style>
<div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"> Search</h3>
                </div>
                <div class="card-body">

                    <form id="searchFrom">
                        <div class="row g-1 ">
                            <div class="col-lg-3 col-md-6">
                                <div class="form-group">
                                    <label>Contract Type</label>
                                    <select id="ContractTypeId" asp-for="QP.ContractTypeId" asp-items="Model.lstContractType" class="form-control select">
                                        <option value=""> All</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="form-group">
                                    <label asp-for="QP.Name"></label>
                                    <select id="Name" asp-for="QP.Name" asp-items="Model.lstUser" class="form-control select">
                                        <option value=""> All</option>

                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <button type="submit" class="btn btn-primary" id="btnSearch">
                                    Search
                                </button>
                                <button type="reset" class="btn btn-danger">Clear  </button>
                            </div>
                            <div class="col-lg-9 d-inline-flex justify-content-sm-end">
                                <a onclick="ExportExcel()" class="btn btn-primary">
                                    <i class="bi bi-file-earmark-spreadsheet-fill"></i>
                                    Export Excel
                                </a>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <div class="card">
                <div class="card-header ">
                    <div class="header-title d-flex justify-content-between align-items-center w-100">
                        <h4 class="card-title">Contract</h4>

                    </div>
                    <div class="mt-3 d-flex justify-content-between align-items-center">
                        <ul class="d-flex nav nav-pills mb-0 text-center index-tab" data-toggle="slider-tab" id="profile-pills-tab" role="tablist">
                            <li class="nav-item tab">
                                <a class="nav-link active" onclick="GetDataByActivtiy('')">All</a>
                            </li>
                            <li class="nav-item tab">
                                <a class="nav-link" onclick="GetDataByActivtiy('0')">Active</a>
                            </li>
                            <li class="nav-item tab">
                                <a class="nav-link" onclick="GetDataByActivtiy('1')">Not Active</a>
                            </li>
                        </ul>
                        <div class=" d-flex justify-content-end align-items-center  gap-2">
                            <p class="m-0 h5"> Sort By:</p>
                            <div class="d-flex justify-content-center  align-items-center  gap-2">
                                <select name="SortBy" class="form-select" style="min-width:200px" asp-items="@Model.LstSortBy" id="SortBy"></select>
                                <select name="SortOrder" class="form-select" id="SortOrder">
                                    <option value="asc">A-Z</option>
                                    <option value="desc">Z-A</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body px-0">

                    <div class="table-responsive">
                        <table id="user-list-table" class="table table-striped" role="grid" data-bs-toggle="data-table">
                            <thead>
                                <tr class="ligth">
                                    <th>Contract Type</th>
                                    <th>Name</th>
                                    <th>Contract Start Date</th>
                                    <th>Contract End Date</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody id="Tblbady">
                            </tbody>

                        </table>
                    </div>
                </div>



                <div class="card-footer pt-2">
                    <div class="d-flex justify-content-between align-items-center flex-wrap">
                        <div>
                            <span class="d-inline-block me-3 text-sm" id="RecordsFromTo">
                            </span>
                        </div>
                        <div class="d-flex gap-2 justify-content-center align-items-center ">
                            <form method="get" id="formSelect">
                                <div class="d-flex justify-content-center gap-2 align-items-center">
                                    <select class="form-select text-sm w-auto" asp-items="@Model.lstPageSize" name="Size" id="SizeSelect"></select>
                                </div>
                            </form>
                            <nav aria-label="Page navigation example ">
                                <ul class="pagination  justify-content-end m-0 ">
                                    <li class="page-item"><a class="page-link" id="firstPage"><i class='bx bxs-chevrons-left'></i></a></li>
                                    <li class="page-item"><a class="page-link" id="previousPage"><i class='bx bxs-chevron-left'></i></a></li>
                                    <li class="page-item">
                                        <a class="page-link active">
                                            <p id="CurPageOfTotalPages" class="d-flex justify-content-center gap-3   align-items-center  text-white m-0  text-sm">
                                            </p>
                                        </a>
                                    </li>
                                    <li class="page-item"><a class="page-link" id="nexPage"><i class='bx bxs-chevron-right'></i></a></li>
                                    <li class="page-item"><a class="page-link" id="lastPage" onclick='GetPartial(obje)'><i class='bx bxs-chevrons-right'></i></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>




@section Styles{
    <link href="~/assets/vendor/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />

}



@section Scripts {
    <script src="~/assets/vendor/sweetalert2/sweetalert2.all.min.js"></script>
    <script src="~/assets/js/paginationdata.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script>

        $('.select').select2({
            placeholder: 'Select an option',
            theme: 'bootstrap-5'
        });

        var totalPages = 0;
        var url = '@Url.Action("GetContract","Contract",new {Area="Admin"})';

        function RenderDataItem(Contract) {
            //var TbodyHtml = `<tr><td class="text-center">${Attendance.userName}</td><td class="text-center">${Attendance.dayOfWeek}</td><td class="text-center">${Attendance.day}</td>${GetSignInTime(Attendance.signInTime)}${GetSignOutTime(Attendance.signOutTime)}<td>${Attendance.status}</td></tr>`
            var TbodyHtml = `<tr><td>${Contract.contract}</td><td>${Contract.userName}</td><td>${Contract.contractStartDate}</td><td>${Contract.contractEndDate}</td><td><span class="badge bg-primary">${Contract.status}</span></td></tr>`
            $("#Tblbady").append(TbodyHtml)
        }


        var data = {
            CurPage: 1,
            Size: $("#SizeSelect").val(),
            SortBy: $('#SortBy').val(),
            SortOrder: $('#SortOrder').val(),
            UserId: $('#Name').val(),
            ContractTypeId: $('#ContractTypeId').val(),
            Status: status
        };

        $(document).ready(function () {
            data.Size = 10;
            ReGetData();
        });

        function GetDataByActivtiy(activitiy) {
            data.Status = activitiy;
            ReGetData();
        }


        function ReGetData() {
            data.Size = $("#SizeSelect").val();
            data.SortBy = $('#SortBy').val();
            data.SortOrder = $('#SortOrder').val();
            data.Name = $('#Name').val();
            data.ContractTypeId = $('#ContractTypeId').val();

            totalPages = PaginationData(url, data, RenderDataItem);

        }

        $("#firstPage").on("click", () => {
            data.CurPage = 1;
            totalPages = PaginationData(url, data, RenderDataItem);
        });
        $("#nexPage").on("click", () => {
            data.CurPage = data.CurPage + 1;
            totalPages = PaginationData(url, data, RenderDataItem);
        });
        $("#previousPage").on("click", () => {
            data.CurPage = data.CurPage - 1;
            totalPages = PaginationData(url, data, RenderDataItem);
        });
        $("#lastPage").on("click", () => {
            data.CurPage = totalPages;
            totalPages = PaginationData(url, data, RenderDataItem);
        });
        $("#SizeSelect").on("change", GetDataOnEvent);
        $("#SortOrder").on("change", GetDataOnEvent);
        $("#SortBy").on("change", GetDataOnEvent);
        $("#searchFrom").on('submit', GetDataOnEvent);

        function GetDataOnEvent(e) {
            e.preventDefault();
            ReGetData();
        }














        function ExportExcel() {
            window.location = `/Admin/Contract/GetContract?CurPage=${data.CurPage}&Size=${data.Size}&SortBy=${data.SortBy}&SortOrder=${data.SortOrder}&UserId=${data.UserId}&ContractTypeId=${data.ContractTypeId}&Status=${data.Status}&Name=${data.Name}&ISExel=true`
        }




















        function Delete(e) {
            var form = e.parentElement;
            alert(form);
            swal.fire({
                title: "Are you sure?",
                text: "You will not be able to recover this imaginary file!",
                icon: "warning",
                buttons: [
                    'No, cancel it!',
                    'Yes, I am sure!'
                ],
                dangerMode: true,
            }).then(function (isConfirm) {
                if (isConfirm) {
                    swal.fire({
                        title: 'Shortlisted!',
                        text: 'Candidates are successfully shortlisted!',
                        icon: 'success'
                    }).then(function () {
                        form.submit(); // <--- submit form programmatically
                    });
                } else {
                    swal.fire("Cancelled", "Your imaginary file is safe :)", "error");
                }
            })


        }
    </script>

        }